.body {
	padding:30px;
	border:1px solid black;
	height:100vh;
	flex:0.8;
	background:linear-gradient(rgb(91,87,115),rgba(0,0,0,1));
	overflow-y:overlay;
}

.body::-webkit-scrollbar {
	display:none;
}

.body-info {
	display:flex;
	align-items:flex-end;
	padding:20px;
}

.body-infoText > h2 {
	font-size:48px;
	margin-bottom:10px;
}

.body-infoText > p {
	font-size:14px;
}

.body-info > img {
	height:20vw;
	margin:0 20px;
	box-shadow:0 4px 60px rgba(0,0,0,0.5);
}

.body-songs {
	margin:20px -30px;

.body-icons {
	display:flex;
	align-items:center;
}

.body-shuffle {
	font-size:80px;
	margin-inline-start:50px;
	margin-block-start:20px;
	margin-block-end:20px;
}

.body-shuffle:hover {
	transition: 100ms transform ease-in;
	transform scale(1.08);
	

.body-icons > .MuiSvgIcon-root {
	margin-right:20px;
}


